.homePage {
  height: 100vh;
  padding-top: 20vh;
  text-align: center;
}

.linkBtn {
  width: 15%;
  height: 7vh;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 7px;
  font-family: "Quicksand", sans-serif;
  font-size: 2vh;
  cursor: pointer;
}

.linkBtn:hover {
  box-shadow: 2px 2px #acacac;
}

.linkBtn:active {
  background-color: #858585;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 40vw;
  margin: 7.5vh 30vw 0;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 50vw;
    margin: 12.5vh 25vw;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 70vw;
    margin: 15vh 15vw;
  }
}
